<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PersonalAccessToken" value ="Your PAT"/><!--PAT с доступом к репозиторию и workflow-->
    <add key ="User" value ="IlMkn"/><!--Имя пользователя для аутентификации-->
    <add key ="Repo" value ="IlMkn/GitHubActionsTest-2"/><!--Идентификатор репозитория(Username/RepoName)-->
    <add key ="sourceDir" value ="C:\testDirectory\sourceDir"/><!--Директория, содержащая код для тестирования и папку .github с .yml файлом для запуска workflow-->
    <add key ="targetDir" value ="C:\testDirectory2\targetDir"/><!--Директория, создаваемая для инициализации git репозитория и помещения в неё кода для тестирования-->
    <add key ="deleteDir" value ="C:\testDirectory2"/><!--Удаление созданной временной директории-->
  </appSettings>
</configuration>